[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
tabulate = "*"
termcolor = "*"

[requires]

python_version = "3"
